@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.skills_section {
    text-align: center;
    height: auto;
    background: #010215;
    padding-top: 100px;


}

.skill_body {
    padding: 40px 0;
    height: auto;
}

.skill_header {
    padding-left: 20px;
    margin-left: 55px;
    text-align: center;
    border-bottom: 1px solid #a109cfaf;
    width: 90%;

}

.skill_header h1 {
   
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 4rem;
    color: white;
    font-weight: 900px;
}


.skills_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 50px;
    width: 200px;
    border-radius: 10px;
    transition: 0.2s;
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid rgb(191, 0, 255);
    z-index: 1;


}

.skills_cards:hover {
    box-shadow: 1px 1px 10px rgb(191, 0, 255);
    scale: 1.1;
}

.Skill_image {
    z-index: 1;
}



.Skill_image>img {
    height: 50px;
    border-radius: 10px;
    transition: 0.5s;
    margin-bottom: 10px;
    mix-blend-mode: multiply;

}




.progress {
    width: 200px;
}

.progress-bar {
    width: 70%;
}

#css {
    width: 85%;
}

#JS {
    width: 65%;
}

#react {
    width: 80%;
}

#Node {
    width: 85%;
}

#Mysql {
    width: 45%;
}

#Express {
    width: 60%;
}

#Mongo {
    width: 70%;
}

#Git {
    width: 80%;
}

#VS {
    width: 85%;
}

#Postman {
    width: 80%;
}

@media (max-width:572px){
    .skill_header{
        margin-left: 20px

    }

   
}