@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.nav_main {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: end;
    align-items: start;
    position: relative;


}

.portfolio {
    display: flex;
    position: absolute;
    left: 0;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: #ffa500;
    font-weight: 900px;
    margin-left: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.626);

    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
        font-size: 40px;
        color: rgb(255, 255, 255);
        font-weight: 900px;

    }
}

.nav_menu {
    position: absolute;
    position: fixed;
    transition: 0.5s;

}

.nav_menu:hover {
    scale: 1.3;



}



.nav_menu>button {
    font-size: smaller;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    margin-top: 5px;
    z-index: 10;
    margin-right: 20px;
}

.nav_list {
    margin-top: 40px;
    margin-right: 5px;
    width: 120px;
    position: fixed;
    z-index: 3;
    border: 1px solid white;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(4, 199, 243, 0.5)
}

.nav_list ul {
    padding-left: 10px;

}

.icons {
    text-align: start;
}

.nav_list ul li {
    margin-top: 5px;


    font-size: smaller;


    margin-bottom: 3px;
    color: black;
    background-color: transparent;
    list-style: none;
    margin-right: 0;



}

.nav_list ul li:hover {
    color: black;
    border-bottom: 1px solid white;
}


a {
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

a:hover {
    font-weight: 900;
}

.nav_listoff {
    display: none;
}


@media (max-width:810) {
    .nav_main {
        width: 100vw;
        height: 50px;
    }
}